
* {
    box-sizing: border-box;
}

/* Imagen del fondo */
body {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

/* Esto hace que haya una franja opaca en el fondo del header */
header {
    position: fixed top 0;
    left: 0;
    width: 100%;
    padding: 20px 4px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(8px);
}

/* Logo */
.logo {
    width: 60px;
}

/* Diseño del menu del header */
.nav a {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin-left: 0px;
    transition: .3s;
    margin-right: 42px;
}

/* Cuando se coloca el puntero encima del texto se crea una burbuja */
.nav a:hover {
    color: white;
    background-color: #418bc9;
    border: 2px solid #306794;
    border-radius: 12px;
    padding: 5px 10px;
}

/* Estilo del titulo */
.titulo {
    text-align: center;
    font-family: Georgia;
    font-size: 50px;
    color: white;
}

/* Alinea los botones */
nav {
    text-align: center;
}

/* Diseño de los botones con imagenes */
.boton-imagen {
    background-color: rgba(255, 255, 255, .1);
    border: none;
    color: white;
    padding: 17px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 6px 18px;
    cursor: pointer;
    border-radius: 10%;
    font-family: Arial, sans-serif;
    font-size: 28px;
    overflow: hidden;
    position: relative;
    transition: transform 0.5s ease;
    backdrop-filter: blur(7px);
}

/* Diseño de la imagen dentro de los botones */
.boton-imagen img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

/* Diseño del boton cuando se le pone el cursor encima */
.boton-imagen:hover img {
    transform: scale(1.15);
    transition: transform 0.5s ease;
}

/* Diseño del footer */
footer {
    background-color: rgb(46,46,46);
    color: #fff;
    text-align: center;
    padding: 8px;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    font-size: 21px ;
}


.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    margin: 0;
}
/* Fin del diseño del footer */
